@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* start: Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}
body {
    font-family: 'Inter', sans-serif;
    color: var(--gray-900);
    background-color: var(--gray-50);
}
.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 16px;
}
/* end: Globals */



/* start: Payment */
.payment-section {
    padding: 48px 0;
}
.payment-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.payment-header {
    padding: 24px;
    background-color: var(--indigo-500);
    border-radius: 12px;
    padding-bottom: 72px;
}
.payment-header-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--indigo-600);
    color: var(--white);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.payment-header-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    line-height: 1.4;
    margin-bottom: 4px;
}
.payment-header-description {
    font-size: 15px;
    color: var(--gray-200);
    line-height: 1.5;
}
.payment-content {
    padding: 24px;
    margin-top: -64px;
    position: relative;
}
.payment-content::before {
    content: '';
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    height: 16px;
    border-radius: 4px;
    background-color: var(--indigo-600);
}
.payment-body {
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05), inset 0 8px 0 rgba(0, 0, 0, .05);
    position: relative;
    padding-top: 8px;
    overflow: hidden;
}
.payment-plan {
    display: flex;
    align-items: center;
    padding: 12px;
}
.payment-plan-type {
    width: 40px;
    height: 40px;
    background-color: var(--indigo-500);
    color: var(--white);
    font-size: 13px;
    font-weight: 600;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 8px;
}
.payment-plan-info {
    width: 100%;
    margin-right: 8px;
    display: grid;
}
.payment-plan-info-name {
    font-size: 13px;
    color: var(--gray-400);
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.payment-plan-info-price {
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.payment-plan-change {
    color: var(--blue-500);
    font-size: 12px;
    font-weight: 600;
    text-underline-offset: 2px;
}
.payment-plan-change:hover {
    color: var(--blue-600);
}
.payment-summary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
}
.payment-summary-name {
    font-size: 14px;
    color: var(--gray-500);
}
.payment-summary-price {
    font-weight: 500;
    font-size: 15px;
}
.payment-summary-divider {
    width: calc(100% - 16px);
    height: 0;
    margin: 12px auto;
    border-bottom: 1px dashed var(--gray-200);
    position: relative;
}
.payment-summary-divider::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--gray-50);
    box-shadow: inset 0 2px 16px rgba(0, 0, 0, .05);
}
.payment-summary-divider::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--gray-50);
    box-shadow: inset 0 2px 16px rgba(0, 0, 0, .05);
}
.payment-summary-total {
    padding-bottom: 16px;
}
.payment-summary-total .payment-summary-name {
    color: var(--gray-900);
}
.payment-summary-total .payment-summary-price {
    font-size: 16px;
    color: var(--indigo-500);
    font-weight: 600;
}
.payment-right {
    min-width: 0;
}
.payment-form {
    padding: 24px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05);
}
.payment-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.3;
}
.payment-methods {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.payment-method-button {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: left;
}

.payment-method-button:hover {
    background-color: var(--gray-50);
}

.payment-method-button.selected {
    border-color: var(--indigo-500);
    background-color: var(--indigo-50);
}

.payment-method-button i,
.payment-method-button img {
    margin-right: 12px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}

.payment-method-button span {
    font-weight: 500;
}

#payment-details-content {
    margin-top: 24px;
}

.payment-form-group {
    position: relative;
    margin-bottom: 16px;
}
.payment-form-control {
    outline: transparent;
    border: 1px solid var(--gray-200);
    border-radius: 8px;
    padding: 24px 16px 8px 16px;
    width: 100%;
    transition: all .15s ease-in-out;
}
.payment-form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    color: var(--gray-400);
    pointer-events: none;
    transition: all .1s ease-in-out;
}
.payment-form-control:focus {
    outline: 1px solid var(--indigo-500);
    border-color: var(--indigo-500);
}
.payment-form-control:focus + .payment-form-label,
.payment-form-control:not(:placeholder-shown) + .payment-form-label {
    top: 30%;
    font-size: 12px;
}
.payment-form-label-required::after {
    content: ' *';
    color: var(--red-500);
}
.payment-form-group-flex {
    display: flex;
    align-items: center;
}
.payment-form-group-flex > * {
    width: 100%;
}
.payment-form-group-flex > :not(:last-child) {
    margin-right: 12px;
}
.payment-form-submit-button {
    background-color: var(--indigo-500);
    border-radius: 8px;
    outline: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-weight: 600;
    padding: 16px;
    transition: all .15s ease-in-out;
}
.payment-form-submit-button:hover {
    background-color: var(--indigo-600);
}
.payment-form-submit-button > i {
    margin-right: 8px;
}
/* end: Payment */



/* start: Breakpoints */
@media screen and (max-width: 767px) {
    .payment-wrapper {
        grid-template-columns: 1fr;
    }
    .payment-content {
        padding: 16px;
    }
    .payment-content::before {
        top: 16px;
        width: calc(100% - 20px);
    }
    .payment-form-group-flex {
        display: block;
    }
}
/* end: Breakpoints */



/* start: Card Options Slider */
.card-options-slider {
    display: flex;
    overflow-x: auto;
    padding: 16px 0;
    gap: 16px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scroll-behavior: smooth; /* Add smooth scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.card-options-slider::-webkit-scrollbar {
    display: none; /* WebKit */
}

.card-option {
    flex: 0 0 auto;
    width: 100px; /* Set a fixed width */
}

.card-option-button {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 12px;
}

.card-option-button:hover {
    background-color: var(--gray-50);
}

.card-option-button.selected {
    border-color: var(--indigo-500);
    background-color: var(--indigo-50);
}

.card-option-button img,
.card-option-button i {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-bottom: 8px;
}

.card-option-button i {
    font-size: 48px;
    color: var(--gray-600);
}

.card-option-button span {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

/* end: Card Options Slider */

/* start: UPI Options Slider */
.upi-options-slider {
    display: flex;
    overflow-x: auto;
    padding: 16px 0;
    gap: 16px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scroll-behavior: smooth; /* Add smooth scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.upi-options-slider::-webkit-scrollbar {
    display: none; /* WebKit */
}

.upi-option {
    flex: 0 0 auto;
    width: 100px; /* Set a fixed width */
}

.upi-option-button {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 12px;
}

.upi-option-button:hover {
    background-color: var(--gray-50);
}

.upi-option-button.selected {
    border-color: var(--indigo-500);
    background-color: var(--indigo-50);
}

.upi-option-button img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-bottom: 8px;
}

.upi-option-button span {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.upi-id-input {
    margin-top: 16px;
}
/* end: UPI Options Slider */

/* Add these new styles */
.options-container {
    position: relative;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

/* start: Wallet Options Slider */
.wallet-options-slider {
    display: flex;
    overflow-x: auto;
    padding: 16px 0;
    gap: 16px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scroll-behavior: smooth; /* Add smooth scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.wallet-options-slider::-webkit-scrollbar {
    display: none; /* WebKit */
}

.wallet-option {
    flex: 0 0 auto;
    width: 100px; /* Set a fixed width */
}

.wallet-option-button {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 12px;
}

.wallet-option-button:hover {
    background-color: var(--gray-50);
}

.wallet-option-button.selected {
    border-color: var(--indigo-500);
    background-color: var(--indigo-50);
}

.wallet-option-button img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-bottom: 8px;
}

.wallet-option-button span {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
/* end: Wallet Options Slider */

/* start: Netbanking Options Slider */
.netbanking-options-slider {
    display: flex;
    overflow-x: auto;
    padding: 16px 0;
    gap: 16px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scroll-behavior: smooth; /* Add smooth scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.netbanking-options-slider::-webkit-scrollbar {
    display: none; /* WebKit */
}

.netbanking-option {
    flex: 0 0 auto;
    width: 100px; /* Set a fixed width */
}

.netbanking-option-button {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 12px;
}

.netbanking-option-button:hover {
    background-color: var(--gray-50);
}

.netbanking-option-button.selected {
    border-color: var(--indigo-500);
    background-color: var(--indigo-50);
}

.netbanking-option-button img,
.netbanking-option-button i {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-bottom: 8px;
}

.netbanking-option-button i {
    font-size: 48px;
    color: var(--gray-600);
}

.netbanking-option-button span {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
/* end: Netbanking Options Slider */

/* start: Other Banks Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: var(--white);
    padding: 24px;
    border-radius: 12px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.popup-content h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

.bank-list {
    list-style-type: none;
    padding: 0;
}

.bank-option {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
}

.bank-option:hover {
    background-color: var(--gray-50);
}

#close-popup {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: var(--indigo-500);
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#close-popup:hover {
    background-color: var(--indigo-600);
}
/* end: Other Banks Popup */

/* Add these styles to your existing CSS file */

.gift-voucher-input {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    align-items: flex-start; /* Align items to the top */
}

.gift-voucher-input .payment-form-group {
    flex-grow: 1;
    margin-bottom: 0; /* Remove bottom margin */
}

.apply-voucher-button {
    padding: 12px 16px; /* Adjust padding to match input height */
    background-color: var(--indigo-500);
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: stretch; /* Stretch button to match input height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    min-height: 48px; /* Set a minimum height to match input */
}

.apply-voucher-button:hover {
    background-color: var(--indigo-600);
}

.voucher-message {
    font-size: 14px;
    margin-top: 4px;
}

.payment-form-submit-button.disabled {
    background-color: var(--gray-300);
    cursor: not-allowed;
}

.payment-form-submit-button.disabled:hover {
    background-color: var(--gray-300);
}

#redirect-confirmation-popup .popup-content {
    max-width: 400px;
    text-align: center;
}

#redirect-confirmation-popup p {
    margin-bottom: 20px;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.popup-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

#confirm-redirect {
    background-color: var(--indigo-500);
    color: var(--white);
}

#confirm-redirect:hover {
    background-color: var(--indigo-600);
}

#cancel-redirect {
    background-color: var(--gray-200);
    color: var(--gray-700);
}

#cancel-redirect:hover {
    background-color: var(--gray-300);
}

/* Add this to the end of your CSS file */

#loading-popup .loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
}

.loader {
    border: 5px solid var(--gray-200);
    border-top: 5px solid var(--indigo-500);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-popup p {
    font-size: 18px;
    font-weight: 600;
    color: var(--gray-700);
}